.Topheader {
  width: 100%;
  top: 0;
  z-index: 999;
  height: 80px;
}
.Topheader > .row {
  height: 100%;
}
.Topheader > .row > * {
  height: 100%;
}
.Topheader > .row > nav > span > i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.Topheader .menuHam {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.Topheader .DeskMenu > ul > li a {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
}
.Topheader .DeskMenu > ul > li a:hover {
  color: red;
}

.slider {
  width: 100%;
  height: 100vh;
}
.slider .carousel-item {
  position: relative;
}
.slider .caption > h5 {
  font-size: 5rem;
  top: 20%;
}
.slider .caption > p {
  font-size: 2rem;
  top: 50%;
}
.slider .caption * {
  position: absolute;
  left: 10%;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgb(0, 0, 0) w;
}

#slideCar {
  position: relative;
}

.slideCar {
  width: 120%;
  margin-left: -10%;
}
.slideCar > .row > figure > img {
  margin-top: 80px;
}
.slideCar::after {
  left: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.885), rgba(255, 255, 255, 0));
}
.slideCar::before {
  right: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.885), rgba(255, 255, 255, 0));
  z-index: 99;
}
.slideCar::before, .slideCar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
}
.slideCar figure {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
}
.slideCar figure:nth-of-type(1)::before {
  content: "";
  display: block;
  width: 65%;
  height: 100%;
  background-image: url(../img/111\ \(6\).jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
  transition: 0.5s;
}
.slideCar figure:nth-of-type(1):hover::before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.slideCar figure:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 65%;
  height: 100%;
  background-image: url(../img/111\ \(6\).jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
  transition: 0.5s;
}
.slideCar figure:nth-of-type(2):hover::before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.slideCar figure:nth-of-type(3)::before {
  content: "";
  display: block;
  width: 65%;
  height: 100%;
  background-image: url(../img/111\ \(11\).jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
  transition: 0.5s;
}
.slideCar figure:nth-of-type(3):hover::before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.slideCar figure:nth-of-type(4)::before {
  content: "";
  display: block;
  width: 65%;
  height: 100%;
  background-image: url(../img/111\ \(8\).jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
  transition: 0.5s;
}
.slideCar figure:nth-of-type(4):hover::before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.slideCar figure:nth-of-type(5)::before {
  content: "";
  display: block;
  width: 65%;
  height: 100%;
  background-image: url(../img/111\ \(9\).jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
  transition: 0.5s;
}
.slideCar figure:nth-of-type(5):hover::before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.slideCar figure:hover > * {
  color: white;
}
.slideCar figure > h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.txt a {
  border-bottom: 2px solid black;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.txt a:hover {
  color: red;
}

.ClickShop {
  width: 100%;
  display: flex;
  align-items: center;
}
.ClickShop > div:nth-of-type(1) > figure {
  overflow-x: hidden;
}
.ClickShop > div:nth-of-type(1) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 5s;
}
.ClickShop > div:nth-of-type(1) > figure > img:hover {
  transform: scale(1.08);
}
.ClickShop > div:nth-of-type(2) div {
  padding-left: 10px;
}
.ClickShop > div:nth-of-type(2) div > h6 {
  color: rgb(125, 121, 121);
}
.ClickShop > div:nth-of-type(2) div > h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.ClickShop > div:nth-of-type(2) div > p {
  font-size: 20px;
}
.ClickShop > div:nth-of-type(2) div > a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
}
.ClickShop > div:nth-of-type(2) div > a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

.pic1 {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}
.pic1 > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pic1 > div:nth-of-type(1) > div > h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}
.pic1 > div:nth-of-type(1) > div > a {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(255, 0, 0);
}
.pic1 > div:nth-of-type(1) > div > a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}
.pic1 > div:nth-of-type(2) {
  margin: 0;
  padding: 0;
}
.pic1 > div:nth-of-type(2) > figure {
  margin: 0;
  position: relative;
}
.pic1 > div:nth-of-type(2) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  filter: hue-rotate(180deg);
}
.pic1 > div:nth-of-type(2) > figure::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/c2.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%);
          clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.pic1 > div:nth-of-type(2) > figure:hover::after {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
}

.pic2 {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
.pic2 > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pic2 > div:nth-of-type(2) > div {
  margin: 0%;
}
.pic2 > div:nth-of-type(2) > div > h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}
.pic2 > div:nth-of-type(2) > div > a {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(255, 0, 0);
}
.pic2 > div:nth-of-type(2) > div > a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}
.pic2 > div:nth-of-type(1) {
  margin: 0;
  padding: 0;
}
.pic2 > div:nth-of-type(1) > figure {
  margin: 0;
  position: relative;
}
.pic2 > div:nth-of-type(1) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  filter: invert(80%);
}
.pic2 > div:nth-of-type(1) > figure::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/c3.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%);
          clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.pic2 > div:nth-of-type(1) > figure:hover::after {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
}

.pic3 {
  width: 100%;
  display: flex;
  align-items: center;
}
.pic3 > div {
  padding: 90px;
}
.pic3 > div > p {
  text-transform: lowercase;
  color: rgb(64, 62, 62);
  font-weight: 400;
  font-size: 25px;
}
.pic3 > div > h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.pic3 > figure {
  position: relative;
}
.pic3 > figure img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(111, 109, 109);
  filter: invert(80%);
}
.pic3 > figure::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/111\ \(6\).png);
  background-size: cover;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
  position: absolute;
  top: 0px;
  left: 10px;
  transition: 1s;
}
.pic3 > figure:hover::after {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
}

.pic4 {
  width: 100%;
  display: flex;
  align-items: center;
}
.pic4 > div {
  padding: 90px;
}
.pic4 > div > p {
  text-transform: lowercase;
  color: rgb(64, 62, 62);
  font-weight: 400;
  font-size: 25px;
}
.pic4 > div > h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.pic4 > div > a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.pic4 > div > a:hover {
  color: red;
}
.pic4 > figure {
  position: relative;
  display: flex;
  justify-content: end;
}
.pic4 > figure img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(111, 109, 109);
  filter: invert(80%);
}
.pic4 > figure::after {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  background-color: chartreuse;
  background-image: url(../img/c4.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
  position: absolute;
  top: 0px;
  right: -10px;
  transition: 1s;
}
.pic4 > figure:hover::after {
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.txt1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt1 > div > .btn {
  display: flex;
  justify-content: center;
}
.txt1 > div > .btn > h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.txt1 > div > .btn > p {
  font-size: 24px;
}
.txt1 > div > .btn > a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.txt1 > div > .btn > a:hover {
  color: red;
}

.pic5 {
  width: 100%;
  display: flex;
  align-items: center;
}
.pic5 > div {
  padding: 90px;
}
.pic5 > div > p {
  text-transform: lowercase;
  color: rgb(64, 62, 62);
  font-weight: 400;
  font-size: 25px;
}
.pic5 > div > h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.pic5 > div > a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.pic5 > div > a:hover {
  color: red;
}
.pic5 > figure {
  position: relative;
}
.pic5 > figure img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(111, 109, 109);
  filter: invert(80%);
}
.pic5 > figure::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/c5.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
  position: absolute;
  top: 0px;
  left: 10px;
  transition: 1s;
}
.pic5 > figure:hover::after {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0);
}

.button {
  background-color: black;
}
.button > div:nth-of-type(2) > label {
  font-size: 18px;
  text-transform: uppercase;
}
.button > div:nth-of-type(2) > input {
  border-bottom: 5px solid rgb(255, 0, 0);
  text-transform: uppercase;
}
.button > div:nth-of-type(2) > button {
  border-bottom: 5px solid rgb(255, 0, 0);
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(251, 251, 251);
}
.button > div:nth-of-type(2) > button:hover {
  background-color: rgb(6, 6, 6);
  color: rgb(255, 255, 255);
  border: 2px solid whitesmoke;
}

.sell > div > a i {
  color: rgb(60, 59, 59);
}
.sell > div > a i:hover {
  color: red;
}
.sell > div > a:hover {
  color: red;
}

.footer1 {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.in-foot > ul > li > a {
  text-transform: uppercase;
  color: rgb(192, 189, 189);
}
.in-foot > ul > li > a:hover {
  color: red;
}

.footer2 {
  background-color: black;
}
.footer2 > div > span > a:hover > i {
  color: red;
  font-size: 35px;
}
.footer2 > div > span > a > i {
  color: rgb(255, 255, 254);
  font-size: 30px;
  transition: 1s;
}/*# sourceMappingURL=global.css.map */