
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-sun:before { content: '\e801'; } /* '' */
.icon-cloud-sun:before { content: '\e802'; } /* '' */
.icon-sun-1:before { content: '\e803'; } /* '' */
.icon-clouds-inv:before { content: '\e804'; } /* '' */
.icon-windy:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-paper-plane-1:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-looped-square-outline:before { content: '\e809'; } /* '' */
.icon-list-1:before { content: '\e80a'; } /* '' */
.icon-indent-left:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-list-2:before { content: '\e80e'; } /* '' */
.icon-align-justify:before { content: '\e80f'; } /* '' */
.icon-th-list:before { content: '\e810'; } /* '' */
.icon-th-1:before { content: '\e811'; } /* '' */
.icon-th-large:before { content: '\e812'; } /* '' */
.icon-emo-angry:before { content: '\e813'; } /* '' */
.icon-emo-wink2:before { content: '\e814'; } /* '' */
.icon-emo-wink:before { content: '\e815'; } /* '' */
.icon-emo-unhappy:before { content: '\e816'; } /* '' */
.icon-palette:before { content: '\e817'; } /* '' */
.icon-chart-bar:before { content: '\e818'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e819'; } /* '' */
.icon-soundcloud:before { content: '\e81a'; } /* '' */
.icon-plancast:before { content: '\e81b'; } /* '' */
.icon-food:before { content: '\e81c'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-folder:before { content: '\f067'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-jabber:before { content: '\f317'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */
